.album {
    &__list {
        display: flex;
        flex-wrap: wrap;
        @media (max-width: 650px) {
            flex-direction: column;
        }
        .list-item {
            flex: 1 1 33%;
            padding: 10px;
            .photo {
                img {
                    width: 100%;
                }
            }
        }
    }
}
